body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    background-color: lightsteelblue;
}

.header {
    justify-content: space-between;
    display: flex;
    flex: 1;
    background-color:rgb(67, 164, 255);
    margin: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
    padding: 10px;
}

.content {
    background-color:darkgrey;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.content .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 25px);
    width: 700px;
    height: 400px;
}

.pixel {
    background-color:white;
}

.preferences .container {
    display: flex;
    padding: 20px;
    background-color:rgb(67, 164, 255);
    justify-content: center;
    gap: 50px;
}

.preferences button {
    background-color: burlywood;
    border-radius: 4px;
    border: 2px solid black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}