body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    background-color: lightsteelblue;
}

.header {
    justify-content: space-between;
    display: flex;
    flex: 1;
    background-color:rgb(67, 164, 255);
    margin: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
    padding: 10px;
}

.content {
    background-color:darkgrey;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content .container {
    background-color: green;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 30px);
    width: 300px;
    height: 300px;
}

.pixel {
    background-color:rgb(255, 145, 0);
}

